@import "tailwindcss";


/* Custom Scrollbar for Professional Look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

html {
  scroll-behavior: smooth;
}